body {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title-bar {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    letter-spacing: 20px;
    color:white;
    font-size: x-large;
}

#resturant-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color:white;
}


#nav-bar {
    padding: 0;
    top: 5rem;
    height: 4rem;
    width: 100%;
    position: inherit;
    display:flex;
    align-content: center;
    justify-content: center;
}

#nav-bar-link-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 0px;
}

#content {
    width:800px;
    background-color: white;
    margin: auto;
}

.nav-bar-link {
    display: flex;
    background-color: rgb(241, 241, 241);
    color:black;
    text-decoration: none;
    height:64px;
    width: 200px;
    border-radius: 5px 5px 0px 0px;
}

.nav-bar-link :hover {
    background-color: aqua;
    color:black;
}

.nav-text {
    text-align: center;
    margin:auto;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color:black;
    font-weight: bolder;
}